<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-allow-mixed-localization" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>CFBundleAllowMixedLocalizations</name>
    <author>Lee Crossley (http://ilee.co.uk/)</author>
    <description>Allow translated button on ios keyboard</description>
    <keywords>cordova, ios, app, security, transport, http, https, ats, keyboard,
        ssl, tls, CFBundleAllowMixedLocalizations</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <platform name="ios">
      <config-file target="*-Info.plist">
              <key>CFBundleAllowMixedLocalizations</key>
              <true/>
      </config-file>
    </platform>
</plugin>
